body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

@media (max-width: 480px) {
	body {
			background-image: url('./bg-mobile.jpg');
	}
}

@media (min-width: 481px) and (max-width: 1024px) {
	body {
			background-image: url('./bg-tablet.jpg');
	}
}

@media (min-width: 1025px) {
	body {
		background-image: url('./bg-desktop.jpg');
	}
}

button:focus {
	outline: 0;
}

.info {
	width: 40rem;
	margin-top: 6rem;
	margin-bottom: 2rem;
	padding: 1rem 3rem;
	border-radius: 2rem;
	border: 5px solid #fff;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
	background: #212224;
	color: #fff;
	position: relative;
}

.info__text {
	font-size: 1.5rem;
}

.info__win {
	height: 2rem;
	font-size: 1.5rem;
	color: #bf0d0d;
	margin-bottom: 0;
}

.info_timer {
	position: absolute;
	top: 4.2rem;
	right: 3.7rem;
}

.button-restart {
    background: transparent;
    border: 0;
		color: #bf0d0d;
		font-size: 2rem;
		position: absolute;
		top: 0;
		right: 3rem;

}

.card-container {
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 40rem;
	height: 40rem;
	border-radius: 7%;
	box-shadow: #000 0px 4px 16px, #000 0px 8px 24px, #000 0px 16px 56px;
}

.card-scene {
	padding: 0.5rem;
	width: 25%;
	height: 25%;
	perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY( 180deg );
}

.card__face--back .card__button {
	background: #212224;
	border: 3px solid white;
	color: white;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__button {
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	background: transparent;
	border: 2px solid white;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


@media (max-width: 768px) {
	.info {
		margin-top: 2rem;
	}
	
	.info, 
	.card-container {
		max-width: 95vw;
	}

	.card-container {
		max-height: 95vw;
		padding: 1rem;
	}

	.info__text, .info__win {
    font-size: 0.8rem;
	}
}
