body {
	display: flex;
	justify-content: center;
}

.card-container {
	margin-top: 10rem;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 32rem;
	height: 32rem;
	border: 1px solid red;
}

.card {
	border: 1px solid black;
	height: 8rem;
	width: 7.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
}

.card svg {
	opacity: 0;
	color: #000 !important;
	
}

.card--visible svg {
	opacity: 1;
}

